/* #related-widget {
  max-width: 1400px;
  padding: 3em;
  margin: 3em auto;
} */

#related-wdiget * {
  box-sizing: border-box;
}

/* .related-carousel-outside {
  display: flex;
  width: 100%;
}

.related-carousel-inside {
  display: flex;
  margin: 0 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding: 1rem;
}

.rel-item {
  max-width: 15rem;
  max-height: 25rem;
  margin: 0 1rem;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

#rel-img-wrapper {
  max-height: 15rem;
  max-width: 15rem;
  cursor: pointer;
  position: relative;
}

#rel-img {
  max-width: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.star-modal {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  color: #e94864f2;
}

.rel-text {
  margin: 3px;
  font-weight: bold;
}

.rel-category {
  margin-top: 10px;
}

.rel-sale-price,
.rel-orig-price {
  margin-bottom: 10px;
} */


/* ///// STYLING OVERHAUL ///// */
#related-widget {
  max-width: 1400px;
  padding: 3em;
  margin: 0 auto;
}

.related-title,
.outfit-title {
  font-size: 2em;
  margin-bottom: 20px;
  /* text-align: center; */
}

/* CAROUSEL */
.related-carousel-outside {
  align-items: flex-start;
  display: flex;
  height: 475px;
  margin-bottom: 1.5em;
  max-height: 475px;
  max-width: 100%;
  position: relative;
  overflow: visible;
  width: 100%;
}

.scroll-btns-right {
  align-items: center;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 0 1em;
  position: absolute;
  right: -70px;
  width: 5%;
  z-index: 9;
}

.scroll-btns-left {
  align-items: center;
  border-radius: 15px 0 0 15px;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 0 1em;
  position: absolute;
  left: -70px;
  width: 5%;
  z-index: 9;
}

.scrll-left {
  transform: scaleX(-1);
}

.rel-scroll {
  color: #E60023;
}

.rel-scroll:hover {
  cursor: pointer;
}

.scroll-btns-right:hover {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e60023",GradientType=1);
  cursor: pointer;
}

.scroll-btns-left:hover {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(230,0,35,0.22314863445378152) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e60023",GradientType=1);
  cursor: pointer;
}

.related-carousel-inside {
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0 5px;
  scroll-behavior: smooth;
}


/* SINGLE PRODUCT TILE */
.rel-prod-wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 90%;
  max-height: 90%;
  margin: 0 2%;
  min-width: 22%;
  max-width: 22%;
}

#relatedProduct0 {
  margin-left: 0;
}

.rel-item {
  height: 100%;
}

.rel-img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rel-img-wrapper:hover {
  cursor: pointer;
}

.rel-img {
  object-position: center;
  object-fit: cover;
  max-height: 200%;
  max-width: 200%;
}

.rel-card-text {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-evenly;
  padding: 0 10px;;
  width: 100%;
}

.rel-category {
  color: #746F72;
  font-size: .75em;
  margin-bottom: -10px;
}

.rel-name {
  font-weight: 500;
  margin-bottom: -10px;
}

.rel-stars * {
  color: #E60023;
}

.rel-orig-price {
  align-items: center;
  display: flex;
}

.compare {
  background-color: #E60023;
  border: 1px solid #E60023;
  color: #F7F4F3;
  padding: 5px 10px;
  text-transform: uppercase;
}

.compare:hover {
  background-color: #F7F4F3;
  color: #E60023;
}

/* CARD IMAGE CAROUSEL */
.img-carousel-outside {
  align-items: center;
  background-color: #0C1B334D;
  bottom: 0;
  display: flex;
  height: 30%;
  justify-content: flex-start;
  overflow: auto;
  position: absolute;
  padding: 0 2%;
  width: 100%;
}

.img-carousel-outside::-webkit-scrollbar {
  display: none;
}

.img-carousel-outside:hover {
  cursor: pointer;
}

.img-carousel-container {
  border: 1px solid #E600234D;
  margin: 0 3%;
  height: 90%;
  min-width: 20%;
  overflow: hidden;
  width: 20%;
}

.img-carousel-container img {
  object-fit: cover;
  transform: translateX(-50%);
  max-width: 200%;
}

.img-carousel-container:hover {
  transform: scale(1.05);
}

/* COMPARE MODAL */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% {opacity: 0; }
}

/* ///// OVERHAUL ///// */
.overlay {
  align-items: center;
  animation: fadeIn .5s;
  background-color: #0C1B3380;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.hide-modal {
  animation: fadeOut .5s;
}

.compare-close {
  align-items: center;
  border: 2px solid #E60023;
  background-color: #E60023;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 1em;
  top: 1em;
}

.compare-close:hover {
  background-color: #F7F4F3;
  color: #E60023;
}

.compare-modal {
  align-items: center;
  background-color: #F7F4F3;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 800px;
  max-width: 800px;
  overflow: scroll;
  padding: 4em 3em;
  position: relative;
  width: 90%;
}

.modal-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  width: 100%;
}

.modal-top-left,
.modal-top-right {
  border: 2px solid #E60023;
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
  width: 42.5%;
}

.modal-mid {
  width: 15%;
}

#compare-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.compare-row::before {
  content: '';
  border-bottom: 2px solid #746F724D;
  height: 100%;
  left: 5%;
  position: absolute;
  top: 0;
  width: 90%;
}

.compare-row,
.last {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em 0;
  position: relative;
  width: 100%;
}

.compare-stat {
  color: #746F72;
  font-size: 1.15em;
  font-weight: 600;
  text-align: center;
  width: 15%
}

.placeholder {
  width: 35%;
}

.left-stars {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 35%;
}

.right-stars {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 35%;
}

.right-stars *,
.left-stars * {
  color: #E60023;
}

.row-brk {
  color: #D4D2D1;
  width: 90%
}
