.outer-star {
  position: relative;
  display: inline-block;
}

.inner-star {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: rgb(226, 205, 10);
}